.error-bloc {
    @extend %columnCenterFlexNoWrap;
    width: 90%;
    margin: auto;
    height: 60vh;
  
    p,
    li {
      color: $color-1;
    }
  }
  
  .error-li {
    text-decoration: underline $color-1;
    font-size: $font-m;
    margin-top: 100px;
    list-style: none;
    @media screen and (min-width: 992px){
      font-size: $font-xl;
    }
  }
  
  .error-number {
    img {
      display: block;
      width: 198px;
      height: 99px;
      margin-bottom: $generic-size-s;
      @media screen and (min-width: 992px){
        height: 260px;
        width: 600px;
        margin-bottom: $generic-size-l;
      }
    }
    
  }
    
  .error-paragraphe {
    p {
      display: block;
      width: 60%;
      height: 40px;
      font-size: $font-xl;
      margin: auto;
      text-align: center;
      padding: 0 10px;
      @media screen and (min-width: 992px){
        font-size: $font-3xl;
        height: auto;
        width: 100%;
      }
    }
  }
  